<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="style.css">

    <script defe src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defe src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defe src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>
    <script defer src="/static/style.js"></script>
    
    <title>Document</title>
    <script type="text/javascript"> 
        window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        }
    </script>
    <style>
        h2{
             /* border:1px solid black; */
             border-collapse: collapse;
             margin-left: auto;
             text-align: center;
             margin-top: 50px;
         }
     </style>
</head>
<body>
    <h2>Equipment Order</h2><br>
    <!-- <style>
        table,thead,th,tbody,td,tr{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style> -->
    {% if g %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <th>User_id</th>
            <th>equipment_id</th>
            <th>equipment_name</th>
            <th>quantity</th>
            <th>total</th>
            <th>status</th>
            <!-- <th>Payment</th> -->
        </thead>
        <tbody>
            {% for i in g %}
            <tr>
                <td>{{i.user_id}}</td>
                <td>{{i.equipment_id}}</td>
                <td>{{i.equipment_name}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.total}}</td>
                <td>{{i.status}}</td>
                {% if i.status == "Approved" %}
                <!-- <td><a href="/makepaymenteqp/{{i.id}}/{{i.total}}">makepayment</a></td> -->
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
<br><br><a href="/user_home/">Back</a>
</html>