<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body>
    <h2>WELCOME TO SPORT'S HUB</h2><br>


    <ul>
        <li><a href="/user_register/">User Registration</a></li><br>
        <li><a href="/manager_register/">Manager Registration</a></li><br>
        <li><a href="/sales_register/">Sales Registration</a></li><br>
        <li><a href="/manager_home/">manager_home</a></li><br>
        <li><a href="/sales_home/">Sales_home</a></li><br>
        <li><a href="/user_home/">User_home</a></li><br>
        <li><a href="/login/">Login</a></li><br>
        <li><a href="/sales_login/">Sales Login</a></li><br>
    </ul>
</body> 
</html>