<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<title>www.sport's hub.com</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/static/assets/img/favicon.png">
	<!-- =================== STYLE =================== -->
	<link rel="stylesheet" href="/static/assets/css/slick.min.css">
	<link rel="stylesheet" href="/static/assets/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body id="home">
	<!--================ PRELOADER ================-->
	<div class="preloader-cover">
		<div id="cube-loader">
			<div class="caption">
				<div class="cube-loader">
					<div class="cube loader-1"></div>
					<div class="cube loader-2"></div>
					<div class="cube loader-4"></div>
					<div class="cube loader-3"></div>
				</div>
			</div>
		</div>
	</div>
	<!--============== PRELOADER END ==============-->
	
	<!-- ================= HEADER ================= -->
	<header class="header">
		<a href="#" class="nav-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<div class="top-panel">
			<div class="container">
				<div class="header-left">
					<ul class="header-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:8129731534">8129731534</a></li>
						<li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 8:00AM - 7:00PM | Sat - Sun: Closed</li>
					</ul>
				</div>
				<div class="header-right">
					<form class="search-form">
						<input type="search" class="search-form__field" placeholder="Search" value="" name="s">
						<button type="submit" class="search-form__submit"><i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header-menu">
			<div class="container">
				<!-- <div class="header-logo">
					<a href="index-2.html" class="logo"><img src="/static/assets/img/logo.svg" alt="logo"></a>
				</div> -->
				<nav class="nav-menu">
					<ul class="nav-list">
						<li class="dropdown">
							<a href="#">Home <i class="fa fa-caret-down"></i></a>
							<ul>
								<li class="menu-active"><a href="/user_register/">Sign up</a></li>
								<li><a href="/sales_register/">sale's sign up</a></li>
								<li><a href="/manager_register/">Manager sign up</a></li>
							</ul>
						</li>
						<li><a href="/login/">Sign in</a></li>
						<li><a href="https://jalandhar.nic.in/sportshub/">About</a></li>
						<li class="dropdown">
							<a href="#">Pages <i class="fa fa-caret-down"></i></a>
							<ul>
								<li><a href="program.html">Program</a></li>
								<li><a href="trainer.html">Trainer</a></li>
							</ul>
						</li>
						<li><a href="https://indianexpress.com/section/sports/">News</a></li>
						<li><a href="tel:8129731534">Contacts</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- =============== HEADER END =============== -->

	<!-- ============ S-CROSSFIT-SLIDER ============ -->
	<section class="s-crossfit-slider">
		<div class="crossfit-slider">
			<div class="crossfit-slide">
				<div class="crossfit-slider-effect effect-1">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.2" style="background-image: url(/static/assets/img/effect-1.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slider-effect effect-2">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(/static/assets/img/effect-2.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slide-bg" style="background-image: url(/static/assets/img/main.jpg.jpg);"></div>
				<div class="container">
					<div class="crossfit-slide-cover">
						<h2 class="title">Book <span> your favorite turf</span></h2>
						<p>Noun a lawn made by laying turfs Synthetic turf was installed in the playing field instead of grass. playing fields with artificial turfs The team played on home turf</p>
					</div>
				</div>
			</div>
			<div class="crossfit-slide">
				<div class="crossfit-slider-effect effect-1">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.2" style="background-image: url(/static/assets/img/effect-1.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slider-effect effect-2">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(/static/assets/img/effect-2.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slide-bg" style="background-image: url(/static/assets/img/pexels-rfstudio-3886278.jpg);"></div>
				<div class="container">
					<div class="crossfit-slide-cover">
						<h2 class="title">Explore <span>the savings</span></h2>
						<p>Enjoy your play space</p>
					</div>
				</div>
			</div>
			<div class="crossfit-slide">
				<div class="crossfit-slider-effect effect-1">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.2" style="background-image: url(/static/assets/img/effect-1.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slider-effect effect-2">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(/static/assets/img/effect-2.svg);"></span>
					</div>
				</div>
				<div class="crossfit-slide-bg" style="background-image: url(/static/assets/img/pexels-rfstudio-3886066.jpg);"></div>
				<div class="container">
					<div class="crossfit-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
						<p>Playing games is the best time of your life, and the more games you get, the better it is. Playing games can contribute to making you happy, perhaps even without therapy..</p>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-navigation">
			<div class="container">
				<div class="slider-navigation-cover"></div>
			</div>
		</div>
	</section>
	<!-- ========== S-CROSSFIT-SLIDER END ========== -->

	<!-- ================ S-CROSSFIT ================ -->
	<!-- <section class="s-crossfit">
		<div class="container">
			<img src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/group-circle-2.svg" alt="img" class="crossfit-icon-1 rx-lazy">
			<img src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/line-red-1.svg" alt="img" class="crossfit-icon-2 rx-lazy">
			<img src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/tringle-about-top.svg" alt="img" class="crossfit-icon-3 rx-lazy">
			<h2 class="title-decor">Welcome To <span>Crossfit</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="row">
				<div class="col-md-4 crossfit-col">
					<div class="crossfit-item">
						<img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/serv-1.svg" alt="img">
						<h3>body bulding</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<a class="btn" href="program.html">view Schedule</a>
					</div>
				</div>
				<div class="col-md-4 crossfit-col">
					<div class="crossfit-item">
						<img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/serv-2.svg" alt="img">
						<h3>group workouts</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<a class="btn" href="program.html">view Schedule</a>
					</div>
				</div>
				<div class="col-md-4 crossfit-col">
					<div class="crossfit-item">
						<img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/serv-3.svg" alt="img">
						<h3>boxing</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
						<a class="btn" href="program.html">view Schedule</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- ============== S-CROSSFIT END ============== -->

	<!-- ============== S-OUR-PROGRAMS ============== -->
	<section class="s-our-programs" style="background-image: url(/static/assets/img/bg-programs.jpg);">
		<div class="mask"></div>
		<div class="our-programs-effect" style="background-image: url(/static/assets/img/bg-programs.svg);"></div>
		<div class="container">
			<h2 class="title-decor">Available  <span> Play Grounds</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="row">
				<div class="col-sm-6 col-md-3 program-col">
					<div class="program-item">
						<div class="program-item-front" style="background-image: url(/static/assets/img/pexels-darya-sannikova-4038917.jpg);">
							<div class="program-item-inner">
								<h3>Sparta Arena</h3>
							</div>
						</div>
						<div class="program-item-back" style="background-image: url(/static/assets/img/pexels-darya-sannikova-4038917.jpg);">
							<div class="program-item-inner">
								<h3>Location: Oruvathilkotta, Thiruvananthapuram
									Timings: 6am to midnight</h3>
								<a href="https://www.spartaarena.com/" class="btn">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 program-col">
					<div class="program-item">
						<div class="program-item-front" style="background-image: url(/static/assets/img/pexels-el-gringo-photo-10183990.jpg);">
							<div class="program-item-inner">
								<h3>Sporthood Turfpark</h3>
							</div>
						</div>
						<div class="program-item-back" style="background-image: url(/static/assets/img/pexels-el-gringo-photo-10183990.jpg);">
							<div class="program-item-inner">
								<h3>Location: Edappally, Kochi
									Timings: 6am to midnight</h3>
								<a href="https://www.sporthood.in/sporthood-madrid" class="btn">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 program-col">
					<div class="program-item">
						<div class="program-item-front" style="background-image: url(/static/assets/img/pexels-mica-asato-1198172.jpg);">
							<div class="program-item-inner">
								<h3>Gamma Football</h3>
							</div>
						</div>
						<div class="program-item-back" style="background-image: url(/static/assets/img/pexels-mica-asato-1198172.jpg);">
							<div class="program-item-inner">
								<h3>Location: Chilavannoor, Ernakulam
									Timings: 6am to 2am (next day)</h3>
								<a href="https://www.sporthood.in/gamma-football-arena" class="btn">More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 program-col">
					<div class="program-item">
						<div class="program-item-front" style="background-image: url(/static/assets/img/pexels-daniel-kondrashin-17580181.jpg);">
							<div class="program-item-inner">
								<h3>MTM Sports</h3>
							</div>
						</div>
						<div class="program-item-back" style="background-image: url(/static/assets/img/pexels-daniel-kondrashin-17580181.jpg);">
							<div class="program-item-inner">
								<h3>Location: Ponnani, Malappuram
									Timings: 5am to midnight</h3>
								<a href="https://www.playspots.in/booking-spot/mtm-sports-village-veliyancode-malappuram/" class="btn">More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-OUR-PROGRAMS END ============ -->

	<!-- =============== S-OUT-TRAINER =============== -->
	<section class="s-out-trainer" style="background-image: url(/static/assets/img/bg-contacts.svg);">
		<div class="container">
			<h2 class="title-decor">Co <span>partnership with</span></h2>
			<!-- <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p> -->
			<div class="row">
				<div class="col-md-6 out-trainer-col">
					<div class="out-trainer-item">
						<a href="https://in.puma.com/" class="out-trainer-img"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/pexels-batitay-japheth-14433229.jpg" alt="img"></a>
						<div class="out-trainer-info">
							<h3><a href="https://in.puma.com/">PUMA</a></h3>
							<div class="prof">www.puma.com</div>
							<p>End of Season Sale-Flat 40%Off — Get Flat 40% Off on PUMA Shoes, Sneakers, Tees, Pants & Accessories. Fast & Free Shipping. PUMA End of Season Sale. Shop Latest PUMA Shoes, Apparel & Accessories at Flat 40% Off.</p>
							<ul class="social-list">
								<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 out-trainer-col">
					<div class="out-trainer-item">
						<a href="https://news.adidas.com/partnerships" class="out-trainer-img"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/pexels-henry-&-co-3222146.jpg" alt="img"></a>
						<div class="out-trainer-info">
							<h3><a href="https://news.adidas.com/partnerships">Adidas</a></h3>
							<div class="prof">www.adidas.com</div>
							<p>adidas Originals and Edison Chen Announce Global Partnership · adidas ... company. Remember me. I have read and accept the terms of the privacy notice ....</p>
							<ul class="social-list">
								<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 out-trainer-col">
					<div class="out-trainer-item">
						<a href="https://about.nike.com/" class="out-trainer-img"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/pexels-mathias-reding-11297751.jpg" alt="img"></a>
						<div class="out-trainer-info">
							<h3><a href="https://about.nike.com/">Nike</a></h3>
							<div class="prof">www.nike.com</div>
							<p>Shop by Sport. Nike. Just Do It. Nike Basketball. Styles made for your game. Nike. Just Do It. Nike Golf. Conquer any course in style. Nike. Just Do It. Nike ...
								.</p>
							<ul class="social-list">
								<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 out-trainer-col">
					<div class="out-trainer-item">
						<a href="trainer.html" class="out-trainer-img"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/Wallpaper Logo Fila 4K.jpg" alt="img"></a>
						<div class="out-trainer-info">
							<h3><a href="trainer.html">Fila</a></h3>
							<div class="prof">www.fila.com</div>
							<p>Order Online Today — Sports Shoes for Men - Buy running, jogging, gym and walking shoes for men online at Fila. Ladies Sports Shoes - Buy Women Shoes Online on Fila Stores.</p>
							<ul class="social-list">
								<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
								<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============= S-OUT-TRAINER END ============= -->

	<!-- ============ S-CROSSFIT-BANNER ============ -->
	<section class="s-crossfit-banner">
		<div class="crossfit-banner-left" style="background-image: url(/static/assets/img/insta-widget-6.jpg);"></div>
		<div class="crossfit-banner-right">
			<div class="text-top">SHOP NOW AND GET</div>
			<h2>50% off</h2>
			<div class="text-bottom">Booking  <a href="program.html">Started</a></div>
		</div>
	</section>
	<!-- ========== S-CROSSFIT-BANNER END ========== -->

	<!-- ============== S-CLUB-CARDS ============== -->
	<section class="s-club-cards">
		<div class="container">
			<h2 class="title-decor">Club <span>Cards</span></h2>
			<p class="slogan">Kerala sport's club cards certificate.</p>
			<div class="row">
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(/static/assets/img/bg-price-1.svg);">
						<div class="price-cover">
							<div class="price">₹100</div>
							<div class="date"><span></span>3 months</div>
						</div>
						<ul class="list">
							<li>Century Club</li>
							<li>No.1, Seshadri Road Bangalore 1</li>
							<li>Mauris id erat enim</li>
							<li class="item-excluded">22214121</li>
							<li class="item-excluded">Tennis, Badminton, Billiards, Table Tennis, Card,</li>
						</ul>
						<a href="https://www.rajpathclub.com/Menu/Index/2" class="btn">View details</a>
					</div>
				</div>
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(/static/assets/img/bg-price-2.svg);">
						<div class="price-cover">
							<div class="price">₹90</div>
							<div class="date"><span></span>6 months</div>
						</div>
						<ul class="list">
							<li>The Banglore City </li>
							<li>No.8, Pampa Mahakavi Road Opp. Makkala Koota Basavanagudi</li>
							<li>22423324</li>
							<li>Billiards, Shuttle, badminton, Squash, Tennis, TT, Cards, </li>
							<li class="item-excluded">Web: www.nammabci.in

								Email:office@nammabc
								
								i.in</li>
						</ul>
						<a href="https://www.rajpathclub.com/Menu/Index/2" class="btn">View details</a>
					</div>
				</div>
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(/static/assets/img/bg-price-3.svg);">
						<div class="price-cover">
							<div class="price">₹150</div>
							<div class="date"><span></span>1 year</div>
						</div>
						<ul class="list">
							<li>	
								Builders' NGV Club
								
								National Games  
								
								Housing Complex,</li>
							<li>25702247</li>
							<li>Restaurant, Bar,  

								Badminton, Tennis,  
								
								Basket Ball, Health  
								
								Club, Jacuzzi,</li>
							<li>Restaurant, Bar,badminton, Tennis, 	Club, Jacuzzi,  
								
								Sauna, Steam,  
								
								Beauty Parlour, Card Room, Library, Food  </li>
							<li class="item-excluded">Web:buildersngvclub.com

								Email:bngvclub@yahoo
								
								.co.in</li>
						</ul>
						<a href="https://www.rajpathclub.com/Menu/Index/2" class="btn">View Details</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-CLUB-CARDS END ============ -->

	<!-- ============== S-TESTIMONIALS ============== -->
	<section class="s-testimonials" style="background-image: url(/static/assets/img/pexels-pixabay-163398.jpg);">
		<div class="mask"></div>
		<img class="testimonials-effect" src="/static/assets/img/bg-testimonials.svg" alt="effect">
		<div class="container">
			<div class="testimonials-slider">
				<div class="testimonial-slide">
					<p>“Phasellus vestibulum nec dolor quis varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida magna sit amet euismod lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
					<img src="/static/assets/img/10973.jpg" alt="img">
					<h3 class="name">Messi</h3>
					<div class="prof">our client</div>
				</div>
				<div class="testimonial-slide">
					<p>“Phasellus vestibulum nec dolor quis varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida magna sit amet euismod lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
					<img src="/static/assets/a2.jpg" alt="img">
					<h3 class="name">Ronaldo </h3>
					<div class="prof">our client</div>
				</div>
				<div class="testimonial-slide">
					<p>“Phasellus vestibulum nec dolor quis varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida magna sit amet euismod lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
					<img src="/static/assets/img/a3.jpg" alt="img">
					<h3 class="name">Neymar</h3>
					<div class="prof">our client</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-TESTIMONIALS END ============ -->

	<!--================ RELATED POSTS ================-->
	<!-- <section class="s-related-posts home-related-posts">
		<div class="container">
			<h2 class="title-decor">Latest <span>News</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="row">
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">fitness</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/blog-4.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">lifting</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/blog-1.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">fitness</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/blog-3.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 related-post-col">
					<div class="post-item-cover">
						<div class="post-header">
							<div class="related-post-categ">lifting</div>
							<div class="post-thumbnail">
								<a href="single-blog.html"><img class="rx-lazy" src="/static/assets/img/placeholder-all.png" data-src="/static/assets/img/blog-2.jpg" alt="img"></a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
							</div>
							<h3 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h3>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem...</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!--============== RELATED POSTS END ==============-->

	<!-- =========== S-TRAINING-SCHEDULE =========== -->
	<!-- <section class="s-training-schedule" style="background-image: url(/static/assets/img/bg-table-1.svg);">
		<div class="container">
			<h2 class="title-decor">Training <span>Schedule</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="training-schedule-cover">
				<h3 class="training-schedule-top">1-7 APRIL, 2019</h3>
				<div class="training-schedule-table">
					<table>
						<thead>
							<th></th>
							<th>monday</th>
							<th>tuesday</th>
							<th>wednesday</th>
							<th>thursday</th>
							<th>friday</th>
							<th>saturday</th>
							<th>sunday</th>
						</thead>
						<tbody>
							<tr>
								<td>9-00</td>
								<td>
									<h4>body bulding</h4>
									<div class="date">9-00 – 11:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
								<td>
									<h4>boxing</h4>
									<div class="date">9-00 – 11:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
								<td>
									<h4>boxing</h4>
									<div class="date">9-00 – 11:00</div>
									<div class="name">Mark Klark</div>
								</td>
							</tr>
							<tr>
								<td>10-00</td>
								<td></td>
								<td>
									<h4>yoga</h4>
									<div class="date">10-00 – 12:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
								<td>
									<h4>body bulding</h4>
									<div class="date">10-00 – 12:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>11-00</td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<h4>body bulding</h4>
									<div class="date">11-00 – 12:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td>
									<h4>body bulding</h4>
									<div class="date">11-00 – 12:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>12-00</td>
								<td>
									<h4>body bulding</h4>
									<div class="date">12-00 – 13:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td>
									<h4>karate</h4>
									<div class="date">12-00 – 13:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<h4>karate</h4>
									<div class="date">12-00 – 13:00</div>
									<div class="name">Mark Klark</div>
								</td>
							</tr>
							<tr>
								<td>13-00</td>
								<td></td>
								<td>
									<h4>body bulding</h4>
									<div class="date">13-00 – 14:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
								<td>
									<h4>body bulding</h4>
									<div class="date">13-00 – 14:00</div>
									<div class="name">Mark Klark</div>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section> -->
	<!-- ========= S-TRAINING-SCHEDULE END ========= -->

	<!-- ================== FOOTER ================== -->
	<section class="s-counter" style="background-image: url(/static/assets/img/bg-2.jpg);">
		<div class="mask"></div>
		<div class="container">
			<h2 class="title-decor">Offer <span>End sooon!!!!!</span></h2>
			<!-- <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p> -->
			<div id="clockdiv">
				<div class="clock-item">
					<span class="days"></span>
					<div class="smalltext">Days</div>
				</div>
				<div class="clock-item">
					<span class="hours"></span>
					<div class="smalltext">Hours</div>
				</div>
				<div class="clock-item">
					<span class="minutes"></span>
					<div class="smalltext">Minutes</div>
				</div>
				<div class="clock-item">
					<span class="seconds"></span>
					<div class="smalltext">Seconds</div>
				</div>
			</div>
			<form class="subscribe-form">
				<input class="inp-form" type="email" name="subscribe" placeholder="Your E-mail">
				<button type="submit" class="btn">Subscribe</button>
			</form>
		</div>
	</section>
	<!-- ================== FOOTER ================== -->

	<!-- ================== FOOTER ================== -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 footer-item-logo">
					<a href="index-2.html" class="logo-footer"><img src="/static/assets/img/footer-logo2.svg" alt="logo"></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item footer-item-list">
					<h3>Links</h3>
					<ul class="footer-link">
						<li><a href="#">Sed ut perspiciatis unde</a></li>
						<li><a href="#">Omnis iste natus error sit</a></li>
						<li><a href="#">Voluptatem accusantium</a></li>
						<li><a href="#">Doloremque laudantium</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item">
					<h3>Contact us</h3>
					<ul class="footer-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:crossFit@gmail.com">CrossFit@gmail.com</a></li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="contacts.html">London,Street 225r.21</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item">
					<h3>Blog</h3>
					<ul class="footer-blog">
						<li>
							<a href="blog.html" class="img-cover"><img src="/static/assets/img/footer-icon-1.jpg" alt="img"></a>
							<div class="footer-blog-info">
								<div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
								<p>Omnis iste natus error sit voluptatem…</p>
							</div>
						</li>
						<li>
							<a href="blog.html" class="img-cover"><img src="/static/assets/img/footer-icon-2.jpg" alt="img"></a>
							<div class="footer-blog-info">
								<div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
								<p>Omnis iste natus error sit voluptatem…</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="copyright"><a href="#" target="_blank"></a></div>
				<ul class="footer-menu">
					<li class="active"><a href="index-2.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="blog.html">News</a></li>
					<li><a href="contacts.html">Contacts</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- ================ FOOTER END ================ -->

	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->
	<script src="/static/assets/js/jquery-2.2.4.min.js"></script>
	<script src="/static/assets/js/slick.min.js"></script>
	<script src="/static/assets/js/rx-lazy.js"></script>
	<script src="/static/assets/js/parallax.min.js"></script>
	<script src="/static/assets/js/scripts.js"></script>
</body>

</html>