<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User creation</h2>
    <form method="post">
        {% csrf_token %}
        <label>User_name</label>
        <input type="text" name="uname"><br><br>
        <label>Password</label>
        <input type="password" name="pswd"><br><br>
        <label>First_name</label>
        <input type="text" name="fname"><br><br>
        <label>Lastname</label>
        <input type="text" name="lname"><br><br>
        <label>Place</label>
        <input type="text" name="place"><br><br>
        <label>Phone</label>
        <input type="text" name="phone"><br><br>
        <label>Email</label>
        <input type="email" name="email"><br><br> 
        <input type="submit" value="submit"> 
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/assets/login/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/assets/login/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">User Sign up</h2>
                        <form method="post" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="uname" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="First Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="fname" placeholder="First Name"/>
                            </div>
                            <div class="form-group">
                                <label for="Place"><i class="zmdi zmdi-pin"></i></label>
                                <input type="text" name="place" placeholder="Place"/>
                            </div>
                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="phone" placeholder="Phone"/>
                            </div>
                            <div class="form-group">
                                <label for="Last Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="lname" placeholder="Last name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pswd" placeholder="Password"/>
                            </div>
                            <!-- <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="pswd" id="re_pass" placeholder="Repeat your password"/>
                            </div> -->
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/static/assets/login/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/login/" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/static/assets/login/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/login/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>